<div class="jumbotron">
  <h2>Nova interação no chamado</h2>
  <p></p>
</div>

<% unless @user.current_sign_in_at.blank? %>
  <p>
    <a href="<%= ticket_url(@reply.ticket) %>#reply-<%= @reply.id %>" target="_blank">
      <%= t(:view_new_reply, locale: @locale) %> &raquo;
    </a>
  </p>
<% end %>

<footer class="footer">
  <div class="container">
    <span class="text-muted">coloque a marca da sua empresa aqui</span>
    <p><a class="btn btn-primary btn-lg" href="www.optera.com.br" role="button">www.optera.com.br</a></p>
  </div>
</footer>

<% if @reply.content_type == 'html' %>
  <%= sanitize_html(@reply.content) %>
<% else %>
  <pre><%= word_wrap(@reply.content, line_width: 72) %></pre>
<% end %>
