
<div class="row mt ptxxl">
  <div class="medium-8 large-6 columns medium-centered vertical-centered v-middle2">
    <h2 class="text-center mbxl">
      <%= image_tag("logo_1.png", :alt => "AceleraDesk") %>
    </h2>
    <br/>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="panel paxxl mbxxl text-center">
        <div class="row collapse">
          <div class="small-1 columns">
            <span class="prefix"><i class="fa fa-user"></i></span>
          </div>
          <div class="small-11 columns">
            <%= f.email_field :email, label: false, placeholder: t(:email) %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 columns">
            <span class="prefix"><i class="fa fa-key"></i></span>
          </div>
          <div class="small-11 columns">
            <%= f.password_field :password, label: false, placeholder: t('activerecord.attributes.user.password') %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
        <% end -%>

        <p>
          <%= f.submit t(:sign_in), class: 'secondary button radius no-mb mtm' %>
        </p>
      </div>

      <p class="text-s no-mb text-center mtl">
        <%= render 'devise/shared/links' %>
        <span class="mrs mls">&middot;</span>
        <%= link_to t(:new_ticket), new_ticket_path %>        
      </p>
      
    <% end %>
  </div>
</div>
